.widgetSmall {
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 20px;
  margin-right: 20px;
}

.widgetSmallTitle {
  font-size: 32px;
  font-weight: 600;
}

.widgetSmallImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.widgetSmallList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.widgetSmallListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.widgetSmallUser {
  display: flex;
  flex-direction: column;
}

.widgetSmallUsername {
  font-weight: 600;
}
